.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}


.search-condition{ border:1px solid #ccc; padding: 5px; width: 980;}
.search-table{ width: 980; position: relative;}
.clear{clear: both;}
.tout-chose{position:absolute; top:30px; right:0px; z-index:99;}

.field{ width:100px; padding: 3px; background: #f0f0f0; text-align: center; float: left;}
.more-icon{ background: url(../../images/standard/open.png) left 3px no-repeat; display: inline-block; padding-left: 20px; color:#0955ad; float: left; line-height:25px}
.up-iocn{ background: url(../../images/standard/close.png) left 3px no-repeat; display: inline-block; padding-left: 20px; color:#0955ad; float: left;line-height:25px}
.clear-icon{ background: url(../../images/standard/clear.png) left 3px no-repeat; display: inline-block; padding-left: 20px; color:#0955ad; line-height:25px;}
.txt-input{ height: 18px; height:15px; border:1px solid #b9b9b9; padding: 2px; vertical-align: middle;}
.search-table a:hover{ text-decoration: none;}

.search-tool{border:1px solid #b9b9b9; border-top:0 none; padding: 4px; overflow: hidden; zoom:1;}
.search-tool a{ width: 20px; height: 20px; display: inline-block; vertical-align: middle; margin-right: 5px;}
.tool{float: left;}
.search-btn{float: right;}
.icon-new,.icon-edit,.icon-delete,.icon-refresh,.icon-other,.icon-search,.icon-import,.icon-export{ display: inline-block; width: 20px; height: 20px; }
.icon-new{background:url(../../images/standard/add.png)}
.icon-edit{  background:url(../../images/standard/edit.png)}
.icon-show{ background:url(../../images/standard/look.png)  }
.icon-delete{  background:url(../../images/standard/delete.png )}
.icon-refresh{  background:url(../../images/standard/refresh.png)}
.icon-other{ background-position:0 -80px;}
.icon-search{ background:url(../../images/standard/query.png)}
.icon-import{  background:url(../../images/standard/import.png)}
.icon-export{ background:url(../../images/standard/export.png)}

.icon-new:hover,.icon-edit:hover,.icon-delete:hover,.icon-refrash:hover,.icon-un:hover{  display: inline-block; width: 20px; height: 20px; }
.icon-new:hover{background: url(../../images/standard/add_h.png)}
.icon-edit:hover{background:url(../../images/standard/edit_h.png)}
.icon-show:hover{background:url(../../images/standard/look_h.png)  }
.icon-delete:hover{background:url(../../images/standard/delete_h.png)}
.icon-refresh:hover{background:url(../../images/standard/refresh_h.png)}
.icon-other:hover{background:url(../../images/standard/other_h.png)}
.icon-search:hover{background:url(../../images/standard/query_h.png)}
.icon-import:hover{background:url(../../images/standard/import_h.png)}
.icon-export:hover{background:url(../../images/standard/export_h.png)}

.search-list-warp{margin: 5px 0 ; }
.search-result-table{ width: 100%; border-right: 1px solid #b9b9b9; border-left: 1px solid #b9b9b9;}
.search-result-table tr th{ background: #bbdbff; font-weight: bold; font-size: 14px; text-align: center;border-bottom: 1px solid #b9b9b9;}
.search-result-table tr td{ text-align: center; padding: 4px; font-size: 12px; border-bottom: 1px solid #b9b9b9;}
.gcolor{background: #f0f0f0;}
.tdhover{background: #fffaeb;}

#con1,#con2,#con3,#con4,#con5,#con6,#con7{float: left; width: 300px; height: 30px;}
.btn-s{position: absolute; right: 0; top:0; z-index:10;}
.other-chose{background: #fff; border:1px solid #ccc;}
.other-chose td{ height:24px; line-height:24px; padding:4px;}
.other-chose td:hover{ background:#3E87DC; color:#fff;}
.other-chose td input{ vertical-align:middle; margin:0 5px 0 0;}

.add-info-box{background:#fff;}
.add-info-table{ margin: 0 auto; width: 98%; border:1px solid #e0e0e0;}
.add-info-table td{ padding:3px; text-align: left; border: 1px solid #e0e0e0;}
.add-info-table .word{ width:150px; background: #f5f5f5; text-align: right;}
.add-info-table td select{ width: 180px; padding: 2px;}
.add-info-table td .inputtext{ width: 180px; padding: 2px;}

.btnbox {margin: 10px auto; width: 100%; text-align: right;}
.btnbox a{ color: #1282d0; display: inline-block; width: 100px; height: 30px; line-height: 30px; text-align: center;}
.btnbox a:hover{ color: #fff;  background: #1282d0; }
form a{text-decoration: none}
.fontredcolor{color:red}